{% extends "layouts/base.html" %}

{% block content %}
<div class="max-w-4xl mx-6 md:mx-auto mt-16">
    <div style="margin-top: 30px;text-align: center;" class="prose">
        {{ content | safe }}
    </div>

    <div class="text-xl">Latest posts:</div>
    <ul class="list-disc list-inside">
        {% for post in collections.blog %}
        <li>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            <h6 style="font-size: 13px">{{ post.content | timeToRead ('100 words a minute') }} read</h6>
            <p>{{ post.templateContent | excerpt }}</p>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
